{% extends 'main/layout.html' %}

{% block title %}Form add post{% endblock title %}

{% block content %}
    <div class="features">
        <h1>Form add post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Add post</button>
            
        </form>      

        {# Dev Umidjon #}

        
    </div>    
{% endblock content %}